body{

margin: 0;
font-family: Arial, sans-serif;
background-color: aliceblue;
}

.container{
display: grid;
grid-template-columns: 1fr 250px;
grid-template-rows: 80px 50px auto 60px ;
grid-template-areas:"header header" "nav nav" " main sidebar" "footer footer";
gap: 10px;
height: 100vh;
padding: 10px;
}

.item{
grid-area:header;
background-color: green;
color: white;
display: flex;
align-items: center;
justify-content: center;
}

.item2{
grid-area: nav;
background-color: skyblue;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
padding: 10px;
}

.item2 button{

background-color: aliceblue;
color: #2196f3;
border: none;
padding: 10px 20px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
}

.item2 button:hover{
background-color: #1976D2;
color: aliceblue;
}

.item3{

grid-area: main;
background-color: aliceblue;
padding: 20px;
box-shadow: 0 0 10px black;
}

form{

display: flex;
flex-direction: column;
gap: 10px;
max-width: 500px;
margin-top: 20px;

}

form label{

font-weight: bold;
margin-bottom: 5px;

}

form text area{

padding: 10px;
font-size: 1rem;
border: 1px solid white;
border-radius: 5px;

}

form input[type=submit]{

background-color: green;
font-weight: bold;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
color: aliceblue;

}

.item4{

grid-area: sidebar;
background-color: #ff9800;
color: white;
padding: 20px;

}

.item5{

grid-area: footer;
background-color: #333;
color: aliceblue;
display: flex;
align-items: center;
justify-content: center;

}











body{
      background-color: #c3cbb3;
      display: flex;
      flex-direction: column; /* NO RECUERDO SI ASI SE ALINEABA ME FUNCIONO PERO NO SE SI ESCORRECTO*/
      justify-content: center; /* Centra verticalmente */
      align-items: center;    /* Centra horizontalmente */
}
.container{
display: grid;
grid-template-columns: 1fr 250px;
grid-template-rows: 80px 50px auto 60px ;
grid-template-areas:"header header" "nav nav" " main main" "footer footer";
gap: 10px;
height: 100vh;
padding: 10px;
}

.item{
grid-area:header;
background-color: white;
color: white;
display: flex;
align-items: center;
justify-content: center;
height: auto;
}

.item2{
grid-area: nav;
background-color: skyblue;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
padding: 10px;
}
.item2 button{
font-family: "Roboto", sans-serif;
font-size: 18px;
background-color: aliceblue;
color: #2196f3;
border: none;
padding: 10px 20px;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
}


.item4{
grid-area: footer;
background-color: #333;
color: aliceblue;
display: flex;
align-items: center;
justify-content: center;

}
.logo{
    width: 230px;
    margin: 15px 100px 0 20px;

}


.foto-central{
    align-content: center;
}


.redes-sociales{
    margin: 15px;
    width: 100px;
    padding: 25px;
    display: flex;
}
.logo_foot{
    width: 156px;
    height: 76px;
}


.item3{
    grid-area:main ;
    background-color: white;
    padding: 20px;
}
/*
/* PIE DE LA PAGINA*/
.item4{
    grid-area:footer ;
    background-color: #9da788;
}