@import "variables";

@media (min-width: map-get($container-max-widths, sm)) {
  .contenedor, .presentacion, .cooking_planning{
    max-width: map-get($container-max-widths, sm);
  }
}
@media (min-width: map-get($container-max-widths, md)) {
  .contenedor, .presentacion, .cooking_planning{
    max-width: map-get($container-max-widths, md);
  }
}
*{
    margin: 0 auto;
    padding: 0;
}


body{
    background-color: $bg-color;
    color: #333;
    font-family: "Roboto", sans-serif;
    line-height: 1.6em;
    justify-content: center;

}

/* menu y header*/
header{
    background-color: white;
     padding: 1.2rem;
     width: 100%;
     height:auto;
     margin: 0 auto;
}
.logo{
   padding-left: 20px;
}
.logo img{
    height: 130px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu_links{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    

}


.menu_links a{
    color: #999A92;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom:#EBB9BC solid 4px;
    height: 20px;
    padding: 15px;
}
.menu_links a:hover{
    border-bottom:#A6AF9A solid 4px;
    border-right:#A6AF9A solid 4px;
    background-color: #C3CBB3;
    color: white;

}

/*carrusel*/

.image_xl{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
/*presentacion*/

.presentacion{
    display: flex;
    margin: 0 auto;
    background-color: white;
    justify-content: center;
    
}
.presentacion_texto{
    display: grid;
    background-color: rgb(253, 255, 230);
    width: 50%;
    border-radius: 10px;
    border: 1px solid #aebb94;
    margin-top: 15px;
 
}
.presentacion_texto h2{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 700;
    font-style: normal;
    color: #94a377;
    grid-area: 1 / 1;
    justify-self: center;
    font-size: 18px;
    margin: 15px;
}
.presentacion_texto p{
    grid-area: 1/1;
    width: 100%;
    padding: 40px 15px 15px 20px;
    font-family: "Roboto", sans-serif;
    font-variation-settings:
    "wdth" 100;
}
/* mini card*/

.mini_foto_link{
    display:flex ;
    background-color: white;
    justify-content: center;
    margin: 0 auto;
    width:100%;
    height: auto;
}
.card-ay{
    display:grid;
    padding: 20px;
}
.card-ay img{
    grid-area: 1/1;
    width: 100%;
    height: auto;
}
.card-ay a{
    grid-area: 1/1; /* recordatorio coloca el botón en la misma celda que la imagen */
    justify-self:flex-end;
    align-self: anchor-center;
    background-color: rgba(237, 181, 180, 0.8);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
}

/*formulario recetas*/
.cooking_planning{
    background-color: #edb5b4;
    width: 100%;
    margin: 0 auto;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 700;
    font-style: normal;
}
.cooking_planning h2{
    display: flex;
    justify-content: center;
    color: #333;
    padding: 10px;
    font-size: 23px;
}
.cooking_planning h3{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 18px;
    
}
.formulario{
    padding: 5px;
    display: flex;
    justify-content: center;
    
}
.im-text{
  border: 2px solid #A6AF9A;
  margin: 10px;
  padding: 8px;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}

.enviar{
    border-bottom:#A6AF9A solid 4px;
    border-right:#A6AF9A solid 4px;
    background-color: #C3CBB3;
    color: white;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
}
/* contenido*/

.contenedor{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.blog{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    background-color: aliceblue;
}
.blog img{
    width: 100%;
    height: auto;
}
.blog_text{
    padding: 10px;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-variation-settings: "wdth" 100;
    color: #333;
}
.blog_text h2{
    font-size: 20px;
    color: #94a377;
    border-bottom:solid 2px #ff9dbe;
    padding: 10px;}
.blog_text p{
    font-size: 16px;
    color: #666;
    font-family: "Roboto", sans-serif;
}
.blog_text a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #EDB5B4;
    border: none;
    border-bottom:#d6908f solid 4px;
    border-right:#d6908f solid 4px;
}

.blog_text a:hover{
    background-color: #333;
    border: none;
    border-top:#666 solid 4px;
    border-left:#666 solid 4px;
}


